table, th, td {
/*   border: 1px solid black;*/
}

th, td {
    padding-left: 40px;
    padding-right: 40px;
}

#url-creator {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

input {
    margin-left: 20px;
}